<?xml version="1.0" encoding="UTF-8"?>
 <web-app>
 
 <context-param>
  		<param-name>driver</param-name>
  		<param-value>oracle.jdbc.driver.OracleDriver</param-value>
  </context-param>
  
    <context-param>
  		<param-name>URL</param-name>
  		<param-value>jdbc:oracle:thin:@localhost:1521:xe</param-value>
  </context-param>
  
    <context-param>
  		<param-name>User_name</param-name>
  		<param-value>system</param-value>
  </context-param>
  
    <context-param>
  		<param-name>Pass</param-name>
  		<param-value>vine96</param-value>
  </context-param>
  
 
<servlet>
	<servlet-name>servletamazon</servlet-name>
	<servlet-class>servletamazon</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>servletamazon</servlet-name>
	<url-pattern>/servletamazon</url-pattern>
</servlet-mapping>
</web-app>